version: "3"
services:
  nginx:
    build:
      dockerfile: ./docker/containers/nginx/dev/Dockerfile
    volumes:
    - ../app:/var/www/app
  php:
    build:
      dockerfile: ./docker/containers/php/dev/Dockerfile
    environment:
      APP_ENV: "dev"
      APP_DEBUG: 1
    volumes:
    - ../api:/var/www/api
  mariadb:
    volumes:
    - ../data/mariadb:/var/lib/mysql
